<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <title>{% block title_block %}Rate The Office {% endblock %}</title>
    {% block head_block%}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper deep-red lighten-1">
          <a href="/" class="brand-logo hide-on-med-and-down">Rate The Office</a>
          <ul id="nav" class="right hide-on-med-and-down">
            <li><a href="/rankings">Episode Rankings<i class="material-icons left">view_list</i></a></li>
            <li><a href="/about">About<i class="material-icons left">info</i></a></li>
          </ul>
          <ul id="nav" class="left hide-on-med-and-up">
            <li><a href="/"><i class="material-icons">home</i></a></li>
            <li><a href="/rankings">Episodes<i class="material-icons left">view_list</i></a></li>
            <li><a href="/about">About<i class="material-icons left">info</i></a></li>
          </ul>

        </div>
      </nav>
{% block body_block %}{% endblock %}
</body>
</html>