<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate The Simpsons</title>
</head>
<body>
{{first_episode.title}} S{{first_episode.season}}E{{first_episode.episode}}
<br>
<img src="{{first_episode.image}}">
<br>
{{first_episode.plot}}
<br>
Rating: {{first_episode.rating}}
<br><br>
{{second_episode.title}} S{{second_episode.season}}E{{second_episode.episode}}
<br>
<img src="{{second_episode.image}}">
<br>
{{second_episode.plot}}
<br>
Rating: {{second_episode.rating}}
</body>
</html>