{% extends 'base.html' %}

{% block body_block %}
<div class = "row">
    <div class = "col sm12 m3">
        <div class = "card ">
            <div class = "card-image">
                <img src="{{first_episode.image}}">
            </div>
            <div class = "card-content">
                <p>
                    <strong>S{{first_episode.season}}E{{first_episode.episode}}: {{first_episode.title}}</strong>
                    <br>
                    <br>
                    {{first_episode.plot}}
                    <br>
                    <br>
                   <strong>Rating</strong>: {{first_episode.rating}}
                </p>
            </div>
        </div>
    </div>
    <div class = "col sm12 m3">
        <div class = "card ">
            <div class = "card-image">
                <img src="{{second_episode.image}}">
            </div>
            <div class = "card-content">
                <p>
                    <strong>S{{second_episode.season}}E{{second_episode.episode}}: {{second_episode.title}}</strong>
                    <br>
                    <br>
                    {{second_episode.plot}}
                    <br>
                    <br>
                    <strong>Rating</strong>: {{second_episode.rating}}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}