{% extends 'base.html' %}
{%block title_block%} {{artist}} Episode Rankings {% endblock %}
{%block body_block%}
<div class = "container">
    <div class = "col sm12 m8">
        <div class = "card ">
             <div class = "card-content">
                 <span class = "card-title center">Song Rankings</span>
                 <p>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th data-field="rank">Rank</th>
                                <th data-field="id">Song</th>
                                <th data-field="rating">Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs_list %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                    <td><a href="/song/{{song.id}}/" target="_blanks">({{song.album}}) {{song.title}}</a></td>
                                <td>{{song.rating}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </p>
             </div>
        </div>
    </div>
</div>
{% endblock %}