{% extends 'base.html' %}

{% block body_block %}
 <div class = "container">
     <div class = "col sm12 m8">
         <div class = "card ">
             <div class = "card-content">
                 <span class = "card-title center">Season Rankings</span>
                 <p>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th data-field="Episode">Season</th>
                                <th data-field="Title">Average rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for season, rating in rankings.items %}
                                <tr>
                                    <td><a href="/season/{{season}}/" target="_blank">Season {{ season }}</a></td>
                                    <td>{{rating}}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </p>
             </div>

         </div>
     </div>
</div>
{% endblock %}